{% extends "layout.html" %}
{% block pagecontent %}
      <div class="userinfo">
	<h2>Send BTE</h2>
	<dl>
	  <dt>Sending from your Bitcoin Edu address:</dt>
	  <dd><a href="http://eduexplorer.port0.org/address/{{ session['addr'] }}"
		 target="_blank"><span id="payfrom">{{ session['addr'] }}</span></a></dd>
	  <dt>Balance:</dt><dd><span id="balance">{{ balance }}</span> BTE</dd>
	</dl>
	<form class="needs-validation" novalidate>
	  <div class="form-group">
	    <label for="payto">Pay to</label>
	    <input type="text" required class="form-control" id="payto" placeholder="Enter receiver bitcoin edu address">
	    <div class="invalid-feedback">Receiver address required.</div>
	    <small id="paytohelp" class="form-text text-muted">Addresses usually start with a 1, 3, or bc1.</small>
	  </div>
	  <div class="form-group">
	    <label for="amount">Amount</label>
	    <div class="input-group">
	      <input type="text" required class="form-control" id="amount" placeholder="Enter amount">
	      <div class="input-group-append">
		<button id="available" type="button" class="btn btn-outline-secondary">Use available balance</button>
	      </div>
	      <div class="invalid-feedback">Amount required and must be greater than 0.0 and less than total balance.</div>
	    </div>
	    <small id="amounthelp" class="form-text text-muted">A fee will be added to this amount as well.
	      The change will be sent back to your address.</small>
	  </div>
  	  <div id="paystatus" class="alert" role="alert"></div>
	  <button id="makepayment" type="button" class="btn btn-primary">Make payment</button>
	  <a id="gohome" style="display: none" role="button" class="btn btn-success" href="/">Home</a>
	  <a id="newpay" style="display: none" role="button" class="btn btn-success" href="{{ url_for('send') }}">Make new payment</a>
	</form>
      </div>
{% endblock %}
